@use "./styles/mixins/initiate-grid" as grid;

$better_range_width: 60px;
$better_range_height: 50px;
$better_range_gap: 10px;

.wp-block-noble-performs-masonry-block {
	// As we are controlling the inner block props, we need to ensure the toggle is actually visible when it needs to be.
	&.is-selected {
		> * {
			> .block-list-appender {
				button {
					display: flex !important;
				}
			}
		}
	}
}

.wp-block-noble-performs-masonry-block-section-block,
.wp-block-noble-performs-masonry-block-image-block {
	margin: 0 !important;
}

.aspect-ratio-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;

	label {
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: calc(8px);
		padding: 0px;
		flex: 1 0 100%;
		max-width: 100%;
	}

	input {
		flex: 0 0 60px;
		max-width: 60px;
		padding-right: 0;
	}

	.separator {
		flex: 0 0 10px;
		text-align: center;
		font-weight: bold;
	}
}

// Style some info text so it's easier for the admin to see.
.info-tagline {
	color: #888888;
	font-style: italic;
}

// Style the Range Control area to better the admin UX
.better-range-styling-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: $better_range_gap;
	margin-bottom: 24px;

	.components-range-control {
		flex-grow: 1;
		flex-shrink: 0;
		margin-bottom: 0;
		max-width: calc(100% - ($better_range_width + $better_range_gap));

		.components-base-control__field {
			&,
			.components-base-control {
				margin-bottom: 0;
			}
		}
	}

	> span {
		flex: 0 0 $better_range_width;
		max-width: $better_range_width;
		height: $better_range_height;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 5px;
		align-self: flex-start;
		background: #e0e4ff;
		border: 1px solid #b1bbff;
	}
}