@use './styles/mixins/initiate-grid' as grid;
@use './styles/mixins/column-block' as col;

.wp-block-noble-performs-layout-block {
    &__inner {
        // Unset grid layout on wrong element on backend;
        display: block;
        
        
        > .block-editor-inner-blocks {
            > .block-editor-block-list__layout {
                @include grid.initiate-grid();
    
                > .block-editor-block-list__block {
                    box-shadow: 0 0 10px 5px #00000025;
                    
                    > .block-editor-block-list__block {
                        height: 100%;
                        @include col.column-styles();
                    }
                }
    
                // Style the "new block appender" to be easier to click and use.
                > .block-list-appender {
                    
                }
            }
        }
    }
}

// Style some info text so it's easier for the admin to see.
.info-tagline {
    color: #888888;
    font-style: italic;
}

// Style the Range Control area to better the admin UX
.better-range-styling-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 24px;

    .components-range-control {
        flex-grow: 1;
        flex-shrink: 0;
        margin-bottom: 0;

        .components-base-control__field {
            &, .components-base-control {
                margin-bottom: 0;
            }
        }
    }

    > span {
        flex: 0 0 50px;
        height: 50px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        align-self: flex-end;
        background: #e0e4ff;
        border: 1px solid #b1bbff;
    }
}