@use "./styles/mixins/initiate-grid" as grid;

$better_range_width: 60px;
$better_range_height: 50px;
$better_range_gap: 10px;

.wp-block-noble-performs-masonry-block__inner {
	// Unset grid layout on wrong element on backend;
	display: block;

	> .block-editor-inner-blocks {
		.block-editor-inner-blocks,
		.block-editor-block-list__block,
		.block-editor-block-list__layout {
			.wp-block {
				// height: 100%;
			}
		}
	}
}

// Initiate the grid on the correct section and image block wrappers.
.block-editor-block-list__layout {
	&:has(> [data-type="noble-performs/masonry-block-section-block"]),
	&:has(> [data-type="noble-performs/masonry-block-image-block"]) {
		@include grid.initiate-grid();
	}
}

// Section blocks

// Here we are basically saying: "Look for the parent element that has the child element with the data attribute which also has a child element of the same data attribute".
// This is because we want to target the parent element, but have no way of doing so because they have identical attributes.
:has(> [data-type="noble-performs/masonry-block-section-block"]) {

	// Theoretically, the element below is one element above where the structure begins on the frontend.
	// Any styles below will be replicated in the styles.scss sheet in some way.
	> :has(> [data-type="noble-performs/masonry-block-section-block"]) {
		height: 100%;
		margin: 0;

		// Ensure that all of the relevant elements have height 100% set to respect our grid setup.
		> .wp-block {
			height: 100%;
			
			> .block-editor-inner-blocks {
				height: 100%;

				> .block-editor-block-list__layout {
					height: 100%;
				}
			}
		}
	}
}

// Image blocks

// Here we are basically saying: "Look for the parent element that has the child element with the data attribute which also has a child element of the same data attribute".
// This is because we want to target the parent element, but have no way of doing so because they have identical attributes.
:has(> [data-type="noble-performs/masonry-block-image-block"]) {
	> :has(> [data-type="noble-performs/masonry-block-image-block"]) {
		grid-column: span 12;
		margin: 0;
		overflow: hidden;
		position: relative;

		> .wp-block {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		
			img {
				display: block;
				width: 100%;

				z-index: 1;
				object-fit: cover;
				max-width: 100%;
				min-height: 100%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.aspect-ratio-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;

	input {
		flex: 0 0 60px;
		max-width: 60px;
		padding-right: 0;
	}

	.separator {
		flex: 0 0 10px;
		text-align: center;
		font-weight: bold;
	}
}


// Style some info text so it's easier for the admin to see.
.info-tagline {
	color: #888888;
	font-style: italic;
}

// Style the Range Control area to better the admin UX
.better-range-styling-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: $better_range_gap;
	margin-bottom: 24px;

	.components-range-control {
		flex-grow: 1;
		flex-shrink: 0;
		margin-bottom: 0;
		max-width: calc(100% - ($better_range_width + $better_range_gap));

		.components-base-control__field {
			&,
			.components-base-control {
				margin-bottom: 0;
			}
		}
	}

	> span {
		flex: 0 0 $better_range_width;
		max-width: $better_range_width;
		height: $better_range_height;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 5px;
		align-self: flex-start;
		background: #e0e4ff;
		border: 1px solid #b1bbff;
	}
}